
<div class="width100 heightmax">

  <div class="bottom-border width100 height100p padding1">
    <h1>BOOKING INFOS</h1>
  </div>

  <div class="bottom-border width100 height100p padding10">
    <div class="row">
      <p>Booking For : </p><p class="grey">&nbsp;<%= @booking.name.capitalize %></p>
      <p class="margin-left">Day :</p><p class="margin-left grey"> <%= @booking.starts_at.strftime("%m/%d/%Y") %></p>
      <% if !@t.blank? %>
        <p class="margin-left">At : </p><p class="margin-left grey"><%= @t.strftime("%H:%M")%></p>
      <%end%>
    </div>
    <div class="row">
      <p>Prestations asked : </p>
      <% @booking.prestations.each do |p| %>
        <p class="grey"> &nbsp;<%= p.reference.capitalize %>&nbsp;&nbsp;</p>
      <%end%>
  </div>
  </div>

  <div class="bottom-border width100 height100p padding10">
    <% if !@pro_valid.blank? %>
      <p>Pro who got skills required : </p>
      <div class="row">
        <% @pro_valid.each do |pro|%>
          <div class="result">
            <p class="box-valid"> <%= pro %></p>
        </div>
        <%end%>
      </div>
    <%end%>
  </div>

  <div class="bottom-border width100 height100p padding10 margin">
    <p>Pro who are available at the desired day and time : </p>
      <div class="row">
      <%  @pro_day_and_hour_available.each do |pro| %>
      <div class="result">
        <p class="box-valid"> <%=  pro %></p>
      </div>
      <%end%>
    </div>
  </div>

  <div class="bottom-border width100 height100p padding10 margin">
    <p>Pro who accept the distance : </p>
    <div class="row">
      <% if @pro_valid_distance.empty? %>
        <p class="grey">Sorry, nobody is available near your location.</p>
      <% else %>
        <%@pro_valid_distance.each do |valid| %>
          <div class="result">
            <p class="box-valid"><%=valid %></p>
          </div>
        <%end%>
      <%end%>
    </div>
  </div>
  <div class="bottom-border width100 height100p padding10 margin">
    <p>Pro who match all the previous conditions</p>
    <div class="row">
      <% if @final_find.empty? %>
        <p class="grey">Sorry, nobody match all the conditions.</p>
      <% else %>
        <%@final_find.each do |valid| %>
          <div class="result">
            <p class="box-valid"><%=valid %></p>
          </div>
        <%end%>
      <%end%>
    </div>
  </div>
</div>
