<p>Booking For :<%= @booking.name %></p>
<p>day : <%= @booking.starts_at.strftime("%A") %></p>
<% if !@t.blank? %>

<p>at : <%= @t.strftime("%H:%M")%></p>
<%end%>

<p>presta asked :<% @booking.prestations.each do |p| %></p>
<p><%= p.reference %></p>
<%end%>

<% if !@pro_valid.blank? %>
<p>pro who got skills required : </p>
<% @pro_valid.each do |pro|%>
<p> <%=   pro  %></p>
<%end%>
<%end%>
<p>AND who are available at the desired day </p>
 <%  @pro_day_available.each do |p| %>
<p> <%=   p  %></p>
<%end%>
<p>AND who are available at the desired time </p>
<%  @pro_hour_available.each do |p| %>
<p> <%=   p  %></p>
<%end%>
<p>The distance between the two : <%= @distance %></p>
<p>The distance allowed : <%= @pro_max_km %></p>
<p>The pro who accept the distance </p>
<%@pro_valid_distance.each do |valid| %>
<p style="color:red"><%=valid.name.upcase %></p>
<%end%>
